In [21]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\merin\anaconda3\lib\site-packages (2.2.9)

In [38]:
import mysql.connector as m

# database which you want to backup
db = 'electrics'

connection = m.connect(host='localhost', user='root',
					password='', database=db)
cursor = connection.cursor()

# Getting all the table names
cursor.execute('SHOW TABLES;')
table_names = []
for record in cursor.fetchall():
	table_names.append(record[0])

In [39]:
backup_dbname = db + '_backup'
try:
	cursor.execute(f'CREATE DATABASE {backup_dbname}')
except:
	pass

cursor.execute(f'USE {backup_dbname}')

In [40]:
for table_name in table_names:
	cursor.execute(
		f'CREATE TABLE {table_name} SELECT * FROM {db}.{table_name}')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'order SELECT * FROM electrics.order' at line 1